@font-face {
  src: url("../fonts/Glitten-Regular.ttf");
  font-family: Glitten;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

body {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

/* --Style for nav container-- */
nav {
  width: 90%;
  height: 7vh;
  background-color: #f2f2f2;
  position: fixed;
  top: 3%;
  left: 5%;
  color: #222b54;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw 0 2vw;
  box-sizing: border-box;
  z-index: 99;
  font-family: Glitten;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo > img {
  width: 40px;
  height: 40px;
}

.nav-logo h4 {
  font-weight: lighter;
  line-height: 1;
  font-size: 0.9rem;
}

.nav-logo h4 > a {
  text-decoration: none;
  color: #222b54;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #222b54;
}
/* Akhir bagian Navbar */

/* --Container Landing Page Section 1-- */
section.landing-content.section1 {
  background-image: url("../images/bg_desktop.png");
  padding-top: 10vh;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-position: center;
  box-sizing: border-box;
  display: flex; /* PENTING : Coba pake flexbox untuk pengaturan logo dan countdown*/
  flex-direction: column;
  align-items: center;
}

/* logo */
.logo img {
  width: 200px;
  margin-top: 5vh;
}

.countdown-display {
  display: flex;
  margin: auto;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}

.days,
.hours,
.minutes,
.seconds {
  display: flex;
  align-items: flex-end;
  width: 20%;
}

.days span,
.hours span,
.minutes span,
.seconds span {
  font-size: 2rem;
  color: #222b54;
  background-color: #f2f2f2;
  padding: 5px;
  min-width: 48px;
  text-align: center;
  border-radius: 12px;
  font-weight: bold;
  margin: 12px 6px;
}

.days p,
.hours p,
.minutes p,
.seconds p {
  font-size: 1rem;
  color: #f2f2f2;
  font-weight: bold;
}
/* --Akhir bagian style section 1 landing page-- */

/* Awal Bagian Style Section 2 Landing Page */
/* Awal pengaturan posisi text dan vector pada tampilan timeline */
section.landing-content.section2 {
  margin-top: -10px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100%;
  background-color: #222b54;
  box-sizing: border-box;
  position: relative;
}

.section2 .title,
.section2 .title2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title > img,
.title2 > img {
  width: 28px;
}

section.landing-content.section2 .title h2,
.title2 h2 {
  font-family: Glitten;
  color: #f2f2f2;
  text-align: center;
  font-weight: normal;
  padding: 0 3vw;
  font-size: 36px;
}

img.cloud-left {
  position: absolute;
  display: block;
  width: 25vw;
  left: 0;
}

img.cl-1 {
  top: 30%;
}

img.cl-2 {
  top: 70%;
  left: -2%;
}

img.cl-3 {
  width: 30vw;
  top: 87%;
}

img.cloud-right {
  position: absolute;
  display: block;
  width: 25vw;
  right: 0;
}

img.cr-1 {
  top: 20%;
}

img.cr-2 {
  top: 30%;
  right: -2%;
}

img.cr-3 {
  top: 55%;
  width: 40vw;
}

.section2 .timeline-content {
  position: relative;
  display: flex;
  color: #f2f2f2;
  justify-content: center;
}

.timeline-content > svg {
  position: absolute;
  top: 7.5%;
  left: 50%;
  height: 55vh;
  padding-top: 28px;
}

.list-point-circle {
  position: absolute;
  display: flex;
  top: 10%;
  left: 50%;
  transform: translate(-43%, 0%);
  height: 60vh;
  flex-direction: column;
  justify-content: space-evenly;
}

.timeline-content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  margin: 10vh 0;
  width: 40vw;
  height: 57vh;
}

.timeline-content ul li {
  width: 40%;
}

.timeline-content ul li:nth-child(odd) {
  align-self: flex-end;
}

.timeline-content ul li:nth-child(odd) {
  text-align: left;
}

.timeline-content ul li:nth-child(even) {
  text-align: right;
}
/* Akhir bagian pengaturan posisi pada bagian timeline */

/* Awal Pengaturan posisi pada bagian button di container timeline */
.functional {
  text-align: center;
}

.functional a {
  text-decoration: none;
}

.functional .button-att {
  margin-bottom: 48px;
}

.functional button {
  min-width: 15vw;
  height: 36px;
  border-radius: 50px;
  border: none;
  color: #222b54;
  font-weight: bold;
  font-family: Poppins;
  cursor: pointer;
}

.functional .button-att > a:first-child button {
  background-color: #f1bcae;
}

.functional .button-att > a:last-child button {
  background-color: #e3eaaa;
}

.functional .button-att > a:first-child button:hover {
  background-color: #f18163;
}

.functional .button-att > a:last-child button:hover {
  background-color: #ccdb51;
}

.functional > a > button {
  background-color: #d2e0f2;
  margin-top: 24px;
}

.functional > a > button:hover {
  background-color: #7dabe7;
}

.functional > p {
  color: #f2f2f2;
  font-size: 0.75rem;
}
/* Akhir Pengaturan posisi button pada container timeline */
/* Akhir Bagian Section 2 */

/* Footer */
footer {
  width: 100%;
  height: 20vh;
  background-color: #222b54;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  padding-left: 5vw;
  padding-top: 5vh;
}

.footer-logo img {
  width: 25%;
}

.footer-content {
  color: #f2f2f2;
  padding-right: 5vw;
  padding-top: 5vh;
  text-align: right;
  width: 50%;
}

.footer-content a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 1.5rem;
}
/* Akhir bagian Footer */

@media screen and (max-width: 1072px) {
  nav ul {
    width: 30%;
  }
}

/* Media Query for responsive */
@media screen and (max-width: 918px) {
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    list-style: none;
  }

  .countdown-display {
    width: 80%;
    justify-content: center;
  }

  .days,
  .hours,
  .minutes,
  .seconds {
    width: 50%;
    justify-content: center;
  }

  .days span,
  .hours span,
  .minutes span,
  .seconds span {
    margin: 12px 6px;
    font-size: 1.5rem;
    min-width: 36px;
    min-height: 36px;
  }

  /* Section 2 */
  img.cl-2 {
    top: 75%;
  }
  /* Tampilan teks timeline */
  .timeline-content ul {
    width: 60vw;
  }

  section.landing-content.section2 .title h2,
  .title2 h2 {
    font-size: 24px;
  }

  /* Tampilan button di bawah text timeline */
  .functional button {
    min-width: 25vw;
  }
  /* Akhir Section 2 */
  footer {
    height: auto;
    flex-direction: column;
  }

  .footer-logo {
    padding: 0;
    text-align: center;
    padding-bottom: 14px;
  }

  .footer-logo img {
    width: 280px;
  }

  .footer-content {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 576px) {
  .nav-logo h4 {
    font-size: 0.8rem;
  }

  nav ul {
    width: 50%;
    font-size: 0.6rem;
  }

  section.landing-content.section1 {
    background-image: url("../images/bg_mobile.png");
  }

  .logo img {
    width: 180px;
  }

  .countdown-display {
    width: 90%;
    flex-wrap: wrap;
  }

  .days span,
  .hours span,
  .minutes span,
  .seconds span {
    margin: 12px 3px;
  }

  /* Section 2 - Timeline*/
  img.cl-2 {
    top: 80%;
  }
  /* Tampilan Teks Timeline */
  section.landing-content.section2 {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .timeline-content ul {
    width: 80vw;
    justify-content: space-around;
  }

  .timeline-date > ul > li > h4 {
    font-size: 0.8rem;
  }

  .timeline-date > ul > li > p {
    font-size: 0.6rem;
  }

  /* Tampilan button di bawah timeline */
  .functional button {
    display: block;
    min-width: 80%;
    margin: 8px auto;
  }

  section.landing-content.section2 .title h2,
  .title2 h2 {
    font-size: 18px;
  }

  .functional > p {
    font-size: 0.6rem;
  }
  /* Akhir Section 2 - Timeline */
}
