@font-face {
  src: url("../fonts/Glitten-Regular.ttf");
  font-family: Glitten;
}

::-webkit-scrollbar {
  height: 4px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background: #375290;
}

::-webkit-scrollbar-thumb:hover {
  background: #222b54;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

body {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  background-image: url("../images/bg_info.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

a {
  text-decoration: none;
  color: #222b54;
}

nav {
  width: 90%;
  height: 7vh;
  background-color: #f2f2f2;
  position: fixed;
  top: 3%;
  left: 5%;
  color: #222b54;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw 0 2vw;
  box-sizing: border-box;
  z-index: 99;
  font-family: Glitten;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo > img {
  width: 40px;
  height: 40px;
}

.nav-logo h4 {
  font-weight: lighter;
  line-height: 1;
  font-size: 0.9rem;
}

.nav-logo h4 > a {
  text-decoration: none;
  color: #222b54;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #222b54;
}

.menu-toggle {
  display: none;
}
/* Akhir bagian Navbar */

/* Section */
section {
  padding: 0 5vw;
}

section.section1 {
  padding-top: 20vh;
}

.title {
  display: flex;
  align-items: center;
  font-family: Glitten;
}

.title > h2 {
  font-weight: normal;
  letter-spacing: 2px;
  color: #f2f2f2;
}

.title > img {
  width: 28px;
  margin-right: 12px;
}

.wrapper {
  display: flex;
  box-sizing: border-box;
  overflow-x: auto;
  width: 90vw;
  justify-content: space-between;
  align-items: flex-end;
}

.card {
  min-width: 25%;
  text-align: center;
  margin: 24px 12px;
  background-color: #ddd;
  border-radius: 25px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.card-after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1));
  border-radius: 25px;
  opacity: 0;
  transition: all 0.3s ease;
}

.card-after > h1 {
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 2vw;
}

.card-after:hover {
  opacity: 1;
}

.thumbnail > img {
  width: 60%;
  padding: 12px 12px;
  margin: 12px 12px;
}

.thumbnail-education > img{
  width: 100%;
}

.text {
  color: #e5e5e5;
  background-image: linear-gradient(to bottom right, #36518f, #5d85e1);
  text-align: left;
  padding: 12px 24px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.text > h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ltmpt,
.track {
  margin: 10vh 0;
  padding: 5vh 3vw;
  display: flex;
  justify-content: space-between;
  color: #3a4266;
  background-color: #e5e5e5;
  border-radius: 25px;
  position: relative;
  align-items: center;
}

.info-ltmpt,
.track-record {
  width: 100%;
}

.info-ltmpt > h2,
.track-record > h2 {
  font-weight: normal;
  letter-spacing: 2px;
  color: #222b54;
  font-family: Glitten;
}

.ltmpt button,
.track button {
  width: 15vw;
  height: 36px;
  border-radius: 50px;
  border: none;
  color: #222b54;
  background-color: #f05e61;
  font-weight: bold;
  font-family: Poppins;
  cursor: pointer;
  margin-top: 36px;
  transition: background-color 0.5s ease;
}

.ltmpt button:hover,
.track button:hover {
  background-color: #f1bcae;
}

.track > img {
  position: absolute;
  transform: translate(0%, -50%);
  top: 0;
  right: 0;
  width: 120px;
}

.more,
.decor-track {
  text-align: right;
}

.more button,
.decor-track button {
  background-color: #222b54;
  color: #fff;
  font-weight: normal;
  transition: background-color 0.5s ease;
}

.more button:hover,
.decor-track button:hover {
  background-color: #36518f;
}

.more > img {
  width: 60%;
  margin-bottom: 12px;
}

.decor-track > img {
  width: 80%;
}
/* Akhir Section */

/* Footer */
footer {
  width: 100%;
  height: 20vh;
  background-color: transparent;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  padding-left: 5vw;
  padding-top: 5vh;
}

.footer-logo img {
  width: 25%;
}

.footer-content {
  color: #f2f2f2;
  padding-right: 5vw;
  padding-top: 5vh;
  text-align: right;
  width: 50%;
}

.footer-content a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 1.5rem;
}
/* Akhir bagian Footer */

@media screen and (max-width: 1072px) {
  nav ul {
    width: 30%;
  }
}

@media screen and (max-width: 918px) {
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    list-style: none;
  }
  
  .ltmpt button,
  .track button {
    width: 20vw;
  }
  
  footer {
    height: auto;
    flex-direction: column;
  }

  .footer-logo {
    padding: 0;
    text-align: center;
    padding-bottom: 14px;
  }

  .footer-logo img {
    width: 280px;
  }

  .footer-content {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .ltmpt button,
  .track button {
    width: 25vw;
  }

  .more button {
    margin-top: 12px;
  }
}

@media screen and (max-width: 576px) {
  .nav-logo h4 {
    font-size: 0.8rem;
  }

  nav ul {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #222b54;
    top: -50%;
    right: -110%;
    opacity: 0;
    width: 75vw;
    height: 100vh;
    padding-top: 40vh;
    box-sizing: border-box;
    z-index: -1;
    transition: all 0.5s ease;
  }

  nav ul.responsive {
    opacity: 1;
    right: -10%;
  }

  nav ul li {
    width: 100%;
    padding: 2.5vh 0;
    box-sizing: border-box;
    text-align: center;
  }

  nav ul li a {
    color: #f2f2f2;
    text-align: center;
  }

  .menu-toggle {
    display: block;
    background-image: linear-gradient(to bottom, #3c78af, #a6b8bc);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: relative;
  }

  .menu-toggle > p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .card {
    min-width: 50%;
  }
  
  .card-after > h1 {
    font-size: 5vw;
  }

  .text {
    font-size: 0.7rem;
  }

  .ltmpt,
  .track {
    flex-direction: column;
    padding: 5vh 10vw;
  }
  .ltmpt button,
  .track button {
    width: 100%;
  }

  .info-ltmpt > h2,
  .track-record > h2 {
    text-align: center;
  }

  .info-ltmpt > p,
  .track-record > p {
    text-align: left;
    font-size: 0.7rem;
  }

  .more > p {
    font-size: 0.7rem;
  }

  .info-ltmpt,
  .more,
  .track-record,
  .decor-track {
    text-align: center;
  }

  .more,
  .decor-track {
    margin-top: 36px;
  }
  
  .decor-track {
    order: 1;
    -webkit-order: 1;
  }

  .track-record {
    order: 2;
    -webkit-order: 2;
  }
}
