{% extends 'base.html' %} 
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/styleArticle.css' %}" />
{% endblock style %}

{% block content %}
    <section>
      <div class="article">
        <img src="{% static 'images/cava-track-record.png' %}" alt="cava" />
        <div class="title">
          <h4>Kepo Info</h4>
          <h1>{{article.title}}</h1>
        </div>
        <div class="content">
          {{article.content | safe}}
        </div>
      </div>
    </section>
{% endblock content %}
