{% extends 'base.html' %} 
{% load static %}

{% block style %}
<link rel="stylesheet" href='{% static "css/styleIndex.css" %}'>
{% endblock style %}
    
{% block content %}
    <section class="landing-content section1">
      <div class="logo">
        <img src="{% static 'images/logo_with_text.png' %}" alt="KEPO 2022">
          
      </div>

      <div class="countdown-display">
        <div class="days">
          <span class="puluhan">0</span>
          <span class="satuan">0</span>
          <p>D</p>
        </div>

        <div class="hours">
          <span class="puluhan">0</span>
          <span class="satuan">0</span>
          <p>H</p>
        </div>

        <div class="minutes">
          <span class="puluhan">0</span>
          <span class="satuan">0</span>
          <p>M</p>
        </div>

        <div class="seconds">
          <span class="puluhan">0</span>
          <span class="satuan">0</span>
          <p>S</p>
        </div>
      </div>
    </section>

    
    <section class="landing-content section2">
      <p>Let's the magic carpet bring you to the</p>
      <div data-aos="fade-up">
      <div class="theme">
        <img src="{% static 'images/star.png' %}" />
        <h1>Whole New World</h1>
        <img src="{% static 'images/star.png' %}" />
      </div>

      <div class="mascot">
        <div class="mascot-image">
          <img src="{% static 'images/cava.png' %}" alt="Cava" />
        </div>
        <div class="mascot-detail">
          <div class="introduce">
            <h4>Hi, I'm</h4>
            <h2>Cava!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo! Quos ullam vitae quisquam labore? Magnam dolores aperiam odit dolorem fugiat ut cumque veritatis? Eum dolor aliquid quasi placeat pariatur.</p>
          </div>
        </div>
      </div>
      <!-- Judul "Timeline" sub title di landing page -->
      <div class="title">
        <img src="{% static 'images/star.png' %}" />
        <h2>Timeline</h2>
        <img src="{% static 'images/star.png' %}" />
      </div>
        
      <img class="cloud-left cl-1" src="{% static 'images/awan-2.png' %}" />
      <img class="cloud-left cl-2" src="{% static 'images/Vector_157.png' %}" />
      <img class="cloud-left cl-3" src="{% static 'images/awan-1.png' %}" />

      <img class="cloud-right cr-1" src="{% static 'images/Vector_158.png' %}" />
      <img class="cloud-right cr-2" src="{% static 'images/awan.png' %}" />
      <img class="cloud-right cr-3" src="{% static 'images/Vector_156.png' %}" />

      <!-- Container dari baris list timeline -->
      <div class="timeline-content">
        <svg height="100%" width="6">
          <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%" gradientUnits="userSpaceOnUse">
              <stop offset="0%" style="stop-color: #f2f2f2; stop-opacity: 1" />
              <stop offset="100%" style="stop-color: #8fb2de; stop-opacity: 1" />
            </linearGradient>
          </defs>
          <line x1="0" y1="0" x2="0" y2="100%" style="stroke: url(#grad1); stroke-width: 8" />
          Sorry, your browser does not support inline SVG.
        </svg>

        <div class="list-point-circle">
          <svg width="32" height="32">
            <defs>
              <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: #f2f2f2; stop-opacity: 1" />
                <stop offset="100%" style="stop-color: #8fb2de; stop-opacity: 1" />
              </linearGradient>
            </defs>
            <circle cx="16" cy="16" r="14px" stroke="url(#grad2)" stroke-width="4" fill="#222b54" />
            Sorry, your browser does not support inline SVG.
          </svg>

          <svg width="32" height="32">
            <defs>
              <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: #f2f2f2; stop-opacity: 1" />
                <stop offset="100%" style="stop-color: #8fb2de; stop-opacity: 1" />
              </linearGradient>
            </defs>
            <circle cx="16" cy="16" r="14px" stroke="url(#grad2)" stroke-width="4" fill="#222b54" />
            Sorry, your browser does not support inline SVG.
          </svg>

          <svg width="32" height="32">
            <defs>
              <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: #f2f2f2; stop-opacity: 1" />
                <stop offset="100%" style="stop-color: #8fb2de; stop-opacity: 1" />
              </linearGradient>
            </defs>
            <circle cx="16" cy="16" r="14px" stroke="url(#grad2)" stroke-width="4" fill="#222b54" />
            Sorry, your browser does not support inline SVG.
          </svg>

          <svg width="32" height="32">
            <defs>
              <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: #f2f2f2; stop-opacity: 1" />
                <stop offset="100%" style="stop-color: #8fb2de; stop-opacity: 1" />
              </linearGradient>
            </defs>
            <circle cx="16" cy="16" r="14px" stroke="url(#grad2)" stroke-width="4" fill="#222b54" />
            Sorry, your browser does not support inline SVG.
          </svg>

          <svg width="32" height="32">
            <defs>
              <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: #f2f2f2; stop-opacity: 1" />
                <stop offset="100%" style="stop-color: #8fb2de; stop-opacity: 1" />
              </linearGradient>
            </defs>
            <circle cx="16" cy="16" r="14px" stroke="url(#grad2)" stroke-width="4" fill="#222b54" />
            Sorry, your browser does not support inline SVG.
          </svg>
        </div>

        <div class="timeline-date">
          <ul>
            <li>
              <h4>Pembukaan</h4>
              <p>Senin, xx xx xxxx</p>
            </li>

            <li>
              <h4>Seminar Day 1</h4>
              <p>Senin, 17 Januari 2022</p>
            </li>

            <li>
              <h4>Seminar Day 2</h4>
              <p>Selasa, 18 Januari 2022</p>
            </li>

            <li>
              <h4>FGD Day 1 (MIPA)</h4>
              <p>Rabu, 19 Januari 2022</p>
            </li>

            <li>
              <h4>FGD Day 2 (IPS)</h4>
              <p>Kamis, 20 Januari 2022</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="functional">
        <div class="button-att">
          <a href="#"><button>Attendance</button></a>
          <a href="#"><button>Join Conference</button></a>
        </div>

        <div class="title2">
          <img src="{% static 'images/star.png' %}" />
          <h2>Standar Operasional Prosedur</h2>
          <img src="{% static 'images/star.png' %}" />
        </div>
        <p>Peserta KEPO 2022 diharapkan dapat mengikuti SOP berikut</p>
        <a href="{% static 'files/sop-peserta-full.pdf' %}"><button>Download SOP</button></a>
      </div></div>
    </section>
{% endblock content %}
