{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/styleInfo.css' %}" />
    <script src="https://cdn.tiny.cloud/1/c4q70qjgydgdgqd2twn1f6nu8bvkcot4dk5xeaaomq93rky4/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Info Perguruan Tinggi</title>
    <script>
        tinymce.init({
          selector: '#get-description'
        });
    </script>
  </head>
  <body>
    <nav>
      <div class="nav-logo">
        <img src="{% static 'images/logo.png' %}" alt="Kepo 2022" />
        <h4>
          <a href="index.html"> Kedubes<br />Expo</a>
        </h4>
      </div>
      <ul>
        <li>
          <a href="infoptn.html">Info</a>
        </li>

        <li>
          <a href="#">Merch</a>
        </li>

        <li>
          <a href="#">About Us</a>
        </li>
      </ul>
    </nav>

    <section class="section1">
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </section>
    
    <footer>
      <div class="footer-logo">
        <img src="{% static 'images/logo_footer.png' %}" alt="logo" />
      </div>
      <div class="footer-content">
        <p>Find us on social media</p>
        <a href="https://www.instagram.com/kepokedubes/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
        <p>©2021 Kedubes Expo 2022</p>
      </div>
    </footer>
  </body>
</html>
