{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/styleInfo.css' %}" />
    <script src="https://cdn.tiny.cloud/1/c4q70qjgydgdgqd2twn1f6nu8bvkcot4dk5xeaaomq93rky4/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Info Perguruan Tinggi</title>
    <script>
        tinymce.init({
            selector: '#id_content',
            plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
            imagetools_cors_hosts: ['picsum.photos'],
            menubar: '',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
            toolbar_sticky: true,
            autosave_ask_before_unload: true,
            autosave_interval: '30s',
            autosave_prefix: '{path}{query}-{id}-',
            autosave_restore_when_empty: false,
            autosave_retention: '2m',
            image_advtab: true,
            link_list: [
                { title: 'My page 1', value: 'https://www.tiny.cloud' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_list: [
                { title: 'My page 1', value: 'https://www.tiny.cloud' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_class_list: [
                { title: 'None', value: '' },
                { title: 'Some class', value: 'class-name' }
            ],
            importcss_append: true,
            file_picker_callback: function (callback, value, meta) {
                /* Provide file and text for the link dialog */
                if (meta.filetype === 'file') {
                callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
                }

                /* Provide image and alt text for the image dialog */
                if (meta.filetype === 'image') {
                callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
                }

                /* Provide alternative source and posted for the media dialog */
                if (meta.filetype === 'media') {
                callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
                }
            },
            templates: [
                    { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
                { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
                { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
            ],
            template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
            template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
            height: 600,
            image_caption: true,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_noneditable_class: 'mceNonEditable',
            toolbar_mode: 'sliding',
            contextmenu: 'link image imagetools table',
            // skin: useDarkMode ? 'oxide-dark' : 'oxide',
            // content_css: useDarkMode ? 'dark' : 'default',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
        });
    </script>
  </head>
  <body>
    <nav>
      <div class="nav-logo">
        <img src="{% static 'images/logo.png' %}" alt="Kepo 2022" />
        <h4>
          <a href="index.html"> Kedubes<br />Expo</a>
        </h4>
      </div>
      <ul>
        <li>
          <a href="/info_ptn">Info</a>
        </li>

        <li>
          <a href="/merch">Merch</a>
        </li>

        <li>
          <a href="#">About Us</a>
        </li>
      </ul>
    </nav>

    <section class="section1">
        <!-- <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="id_select_category">Select Category:</label>
                <select name="cat">
                    {% for category in category_list %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form> -->
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {{ form.non_field_errors }}
            
            <div>
                <label for="id_select_category">Select Category:</label>
                <select name="cat">
                    {% for category in category_list %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="id_title">Title:</label>
                <input type="text" name="title" size="240" id="id_title">
            </div>
            <div>
                <label for="id_thumbnail">Thumbnail:</label>
                <input type="file" name="thumbnail" accept="image/*" id="id_thumbnail">
            </div>
            <div>
                <label for="id_content">Content:</label>
                <textarea id="id_content" name="content" rows="30" cols="50"></textarea>
            </div>
            <!-- {%for field in form%}
                    <div class="form-group">
                        <label class="mylabel">{{ field.label }}</label>
                        {{field}}
                    </div>
                {%endfor%} -->
            <button type="submit">Upload</button>
        </form>
    </section>
    
    <footer>
      <div class="footer-logo">
        <img src="{% static 'images/logo_footer.png' %}" alt="logo" />
      </div>
      <div class="footer-content">
        <p>Find us on social media</p>
        <a href="https://www.instagram.com/kepokedubes/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
        <p>©2021 Kedubes Expo 2022</p>
      </div>
    </footer>
  </body>
</html>
