{% extends 'base.html' %} 
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/styleInfo.css' %}" />
{% endblock style %}

{% block content %}
    <section class="section1">
      <div class="title">
        <img src="{% static 'images/star.png' %}" />
        <h2>Jalur Masuk PTN</h2>
      </div>
      <div class="wrapper">
        {% for article in jalur_masuk_ptn %}
        <div class="card">
          <a href="{% url 'article' article.slug %}">
            <div class="thumbnail">
              <img src="../media/{{article.thumbnail}}" alt="thumbnail" />
            </div>
            <div class="text">
              <h4>{{article.title}}</h4>
            </div>
            <div class="card-after">
              <h1>Baca Detail</h1>
            </div>
          </a>
        </div>
        {% endfor %}
        <div class="card">
          <a href="#">
            <div class="thumbnail">
              <img src="{% static 'images/snmptn.png' %}" alt="SNMPTN" /> 
            </div>
            <div class="text">
              <h4>Jalur SNMPTN</h4>
            </div>
            <div class="card-after">
              <h1>Baca Detail</h1>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="#">
            <div class="thumbnail">
              <img src="{% static 'images/sbmptn.png' %}" alt="SBMPTN" />
            </div>
            <div class="text">
              <h4>Jalur SBMPTN</h4>
            </div>
            <div class="card-after">
              <h1>Baca Detail</h1>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="#">
            <div class="thumbnail">
              <img src="{% static 'images/mandiri.png' %}" alt="Jalur Mandiri" />
            </div>
            <div class="text">
              <h4>Jalur Mandiri</h4>
            </div>
            <div class="card-after">
              <h1>Baca Detail</h1>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="#">
            <div class="thumbnail">
              <img src="{% static 'images/ppkb.png' %}" alt="PPKB UI" />
            </div>
            <div class="text">
              <h4>PPKB UI</h4>
            </div>
            <div class="card-after">
              <h1>Baca Detail</h1>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="#">
            <div class="thumbnail">
              <img src="{% static 'images/iup.png' %}" alt="IUP" />
            </div>
            <div class="text">
              <h4>IUP</h4>
            </div>
            <div class="card-after">
              <h1>Baca Detail</h1>
            </div>
          </a>
        </div>
      </div>

      <div class="ltmpt">
        <div class="info-ltmpt">
          <h2>Info LTMPT</h2>
          <br />
          <p>Update - xx/xx/xxxx</p>
          <p>Timeline dari pembuatan akun LTMPT hingga pengumuman SNMPTN 2022.</p>
          <a href="#"><button>Download PDF</button></a>
        </div>
        <div class="more">
          <img src="{% static 'images/ltmpt.png' %}" alt="LTMPT" />
          <p>Informasi lebih lanjut dapat dilihat pada:</p>
          <a href="https://ltmpt.ac.id/" target="_blank">
            <button>https://ltmpt.ac.id</button>
          </a>
          <a href="https://www.instagram.com/ltmptofficial/" target="_blank">
            <button><i class="fa fa-instagram"></i> @ltmptofficial</button>
          </a>
        </div>
      </div>
    </section>

    <section>
      <div class="title">
        <img src="{% static 'images/star.png' %}" />
        <h2>Konten Edukatif</h2>
      </div>
      <div class="wrapper">
        {% for article in konten_edukatif %}
        <div class="card">
          <a href="{%url 'article' article.slug %}">
            <div class="thumbnail-education">
              <img src="../media/{{article.thumbnail}}" alt="thumbnail" />
            </div>
            <div class="text">
              <h4>{{article.title}}</h4>
            </div>
            <div class="card-after">
              <h1>Baca Detail</h1>
            </div>
          </a>
        </div>
        {% endfor %}
        <div class="card">
          <a href="#">
            <div class="thumbnail-education">
              <img src="{% static 'images/education1.png' %}" alt="thumbnail" />
            </div>
            <div class="text">
              <h4>Kepoin Yuk! #1</h4>
            </div>
            <div class="card-after">
              <h1>Baca Detail</h1>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="#">
            <div class="thumbnail-education">
              <img src="{% static 'images/education2.png' %}" alt="thumbnail" />
            </div>
            <div class="text">
              <h4>Video Series #1</h4>
            </div>
            <div class="card-after">
              <h1>Baca Detail</h1>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="#">
            <div class="thumbnail-education">
              <img src="{% static 'images/education3.png' %}" alt="thumbnail" />
            </div>
            <div class="text">
              <h4>Kepoin Yuk! #2</h4>
            </div>
            <div class="card-after">
              <h1>Baca Detail</h1>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="#">
            <div class="thumbnail-education">
              <img src="{% static 'images/education2.png' %}" alt="thumbnail" />
            </div>
            <div class="text">
              <h4>Video Series #2</h4>
            </div>
            <div class="card-after">
              <h1>Baca Detail</h1>
            </div>
          </a>
        </div>
      </div>

      <div class="track">
        <img src="{% static 'images/cava-track-record.png' %}" alt="Cava" />
        <div class="track-record">
          <h2>Track Record</h2>
          <br />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, ducimus minus! Laborum, sed cumque nihil adipisci animi, corrupti inventore voluptatem odit nesciunt reprehenderit sint laboriosam? Tempora laboriosam
            repellendus eligendi nostrum harum reiciendis officiis corporis magnam beatae aliquam? Et, nihil. In tenetur architecto excepturi aspernatur reprehenderit.
          </p>
          <a href="#"><button>Download PDF</button></a>
        </div>
        <div class="decor-track">
          <img src="{% static 'images/decor-for-track.PNG' %}" alt="track-record" />
        </div>
      </div>
    </section>
{% endblock content %}
