{% extends 'base.html' %} 
{% load static %}

{% block style %}
<link rel="stylesheet" href='{% static "css/styleIndex.css" %}'>
<link rel="stylesheet" href='{% static "css/styleMerch.css" %}'>
{% endblock style %}

{% block content %}

    <section class="landing-content merch">
      <div id="title">
        <h5>Open PO</h5>
        <div style="display: flex;">
          <img id="star-left" src="{% static 'images/star.png' %}" />
          <h1 style="margin: 0 1rem;">Official Merchandise</h1>
          <img id="star-right" src="{% static 'images/star.png' %}" />
        </div>
      </div>
      
      <div id="posters">
        <img src="{% static 'images/rug_merch_left.png' %}" alt="Rug Left" id="rug-left">
        <img src="{% static 'images/Preorder-2-Bundle-Package-New.png' %}" alt="Poster 1" class="merch-poster">
        <img src="{% static 'images/Preorder-2-non-bundle-New.png' %}" alt="Poster 2" class="merch-poster">
        <img src="{% static 'images/rug_merch_right.png' %}" alt="Rug Left" id="rug-right">
      </div>
      <div>
        <a href="https://bit.ly/OrderMerchKEPO2022"><button id="order-btn">Order Now!</button></a>
      </div>
    
  

    <footer>
      <div class="footer-logo">
        <img src="{% static 'images/logo_footer.png' %}" alt="logo" />
      </div>
      <div class="footer-content">
        <p>Find us on social media</p>
        <a href="https://www.instagram.com/kepokedubes/" target="_blank"><i class="fa fa-instagram"></i></a>
        <p>©2021 Kedubes Expo 2022</p>
      </div>
    </footer>
  </section>
{% endblock content %}
{% block footer %}{% endblock footer %}
